<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div class="header">
       <h1 class="h2 text-center">API Project: Request Header Parser Microservice</h1>
     </div>
     <div class="container">
       <div class="row align-items-center justify-content-center">
         <div class="col" id="user-story">         
            <h2 class="h5 text-center">User Story</h2>
            <ul class="list-group">
              <li>1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>) and system infos (from header <code>User-Agent</code>) for my device.</li>
            </ul>
            <h2 class="h5 text-center">Example Usage</h2>
            <p class="text-center">
              [base url]/api/whoami
            </p>

            <h2 class="h5 text-center">Example Output</h2>
            <p>
              <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
            </p>
           </div>
        </div>
      </div>
      <footer class="footer text-center">
        <p>
          A <a href="http://www.freecodecamp.com">freeCodeCamp</a> Project by Julia Loy | <a href="https://hyperdev.com/#!/remix/FCC_API_header_bplate/8c449aa9-a80c-47ad-8142-8da90f658731">Click here to Remix</a>
        </p>
      </footer>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>


</html>
