/****** Main Styling ******/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: white;
	background-color: #36454f;
	line-height: 1.4em;
}

.header {
  padding: 5rem 0 5rem 0;
  color: white;
}

#user-story {
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px black);
  color: black;
	margin: 2rem;
  padding: 1rem;
  max-width: 700px;
}

h2 {
  font-style: strong;
  margin-top: 2rem;
}

.user-stories {
  position: relative;
  text-align: justify;
}
code {
  font-family: monospace;
  padding: 2px;
  color: white;
  background-color: #364652;
}
ol {
	list-style-position: outside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  
}

a {
	color: white;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}
